@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
nav{
    align-items: center;
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    background-color: rgb(10, 7, 7);
    
}
.logoname{
    text-align: left;
    margin-left: 20px;
    color: white;
    font-size: 30px;
    font-weight: 900;
}
.navlinks{
    text-align: center;
    flex: 1;
}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: white;
}
.navlinks ul li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
}
.navlinks ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #e406d9;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navlinks ul li:hover::after{
    width: 100%;
}
.navbutton{
    padding: 12px;
    color: white;
    text-decoration: none;
    border: none;
    background-color:#0d24f1;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.navbutton:hover{
    order: 1px solid #3adf08;
    background-color: red;
    transition: 0.5s;
}
.home{
    width: 100%;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}
.home-cont{
    margin: auto;
    display: flex;
    justify-content:space-around;
    margin-bottom: 50px;
    align-items: center;
}
#coverimage{
    float: right; 
    height: 400px;
    width: 550px;
    margin-top: 20%

}
.content > h1{
    font-weight: 500;
    font-size: 36px;
    margin-top: 100px;
    margin-top: 20%;
    padding-left: 10%;
    padding-top: 10%;
    margin-left: 5%;
    justify-content: flex-start;
    

}
.content > p{
padding-left: 5%;
padding-top: 12px;
font-weight: 300;
font-size: 25px;
} 
.Numbers{
    clear: left;
    float: right;
    border: 1px solid rgb(241, 227, 227);
    background: white;
    margin-right: 10%;
    padding-bottom: 8%;
    align-items: center;
    justify-content: center;
    list-style: none;
    

}
 .data{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 16px;
    cursor: pointer;
    align-items: center;

 }
 .Ourstats{
    align-items: center;
    justify-content: center;
    padding-top: 10%;
 }
 .data::after{
    box-shadow: 2px 2px rgb(177, 170, 170);
 }
 .data ul li{
     list-style: none;
     display: inline-block;
     padding: 8px 12px;
 }
 .content > h1{
    font-weight: 600;
    font-size: 40px;
    margin: auto;
    padding-left: 18%;
    padding-top: 20%;
}

.content > p{
margin: auto;
padding-left: 18%;
padding-top: 12px;
font-weight: 300;
font-size: 25px;
} 
.homebutton{
display: inline-block;
text-decoration: none;
color:white;
border:2px solid #0b46e6;
background: #0b46e6;
font-size: 22px;
margin-top: 30px;
margin-left: 18%;
padding: 15px 40px;
position: relative;
cursor: pointer;
}
.homebutton:hover{
border: 1px solid #25dd0d;
background: red;
transition: 1s;
}
#client{
  text-align: left;
  font-weight: 600;
  margin-left: 15%;
  margin-bottom: 14px;
  padding-top: 5%;
  /* padding-bottom: 5%; */
}
section{
    display: flex;
    padding-top: 0%;
    /* align-items: center; */
    margin-left: 0%;
    
}
.image-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
    padding-left: 6%;

    
  }
  
  .image-card {
    width: 300px;
    border: 1px solid #00000020;
    border-radius: 2px;
    text-align: left;
    background-color: white;
  }
  
  .image {
    width: 300px;
    /* border: 1px solid black; */
  }
  
  .title {
    text-align: left;
    padding: 15px 10px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #000000dd;
  }
  
  .likes-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .likes {
    font-size: 0.9rem;
    font-weight: 600;
  }
  
  .like-button {
    color: rgb(255, 127, 80);
    font-size: 1.5rem;
    border: none;
    background: none;
    transition: color 300ms;
    cursor: pointer;
  }
  
  .like-button:hover {
    color: rgb(241, 71, 19);
  }
  
  .like-button:active {
    color: rgb(253, 159, 124);
  }
  
  .like-button:focus {
    outline: none;
  }
  
  .comments {
    list-style-type: none;
    margin-left: 0;
    padding-left: 10px;
    font-size: 0.85rem;
  }
  
  .comments li {
    margin: 2px 0;
    letter-spacing: 0.2px;
  }
  
  .comment-form {
    width: 100%;
    border-top: 1px solid #00000020;
    padding: 10px;
    margin-top: 10px;
  }
  
  .comment-input {
    width: 83%;
    border: none;
    font-size: 0.8rem;
  }
  
  .comment-input:focus {
    outline: none;
  }
  
  .comment-button {
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(92, 114, 238);
    cursor: pointer;
    transition: color 300ms;
  }
  
  .comment-button:hover {
    color: rgb(37, 68, 245);
  }
  
  .comment-button:active {
    color: rgb(127, 146, 250);
  }
  
  .comment-button:focus {
    outline: none;
  }
  .footer{
    background: black;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}
.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
    margin-top: 16px;
}
.logo >h1{
    color: white;
    font-weight: 900;
    font-size: 36px;
    padding-left: 18px;

}
.logo > p{
    color: white;
    font-size: 16px;
    font-weight: 100;
    padding-left: 18px;
    padding-bottom: 10px;
}
.kejjani> h1{
    color: white;
    font-weight: 200;
    padding-top: 16px;
    padding-bottom: 10px;
    font-size: 26px;
}
.kejjani .fa{
    background: white;
    padding: 3px;
    margin-left: 20%;
    margin-top: 10px;
    border-radius: 10px; 
}
.kejjani ul li{
    list-style: none;
    color: white;
    padding: 4px 4px 4px 4px;
}
.kejjani ul li a{
    text-decoration: none;
    color: white;
}
 