@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
nav{
    align-items: center;
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    background-color: rgb(10, 7, 7);
    
}
.logoname{
    text-align: left;
    margin-left: 20px;
    color: white;
    font-size: 30px;
    font-weight: 900;
}
.navlinks{
    text-align: center;
    flex: 1;
}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: white;
}
.navlinks ul li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
}
.navlinks ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #e406d9;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navlinks ul li:hover::after{
    width: 100%;
}
.navbutton{
    padding: 12px;
    color: white;
    text-decoration: none;
    border: none;
    background-color:#0d24f1;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.navbutton:hover{
    order: 1px solid #3adf08;
    background-color: red;
    transition: 0.5s;
}
.home{
    width: 100%;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}
.home-cont{
    margin: auto;
    display: flex;
    justify-content:space-around;
    margin-bottom: 50px;
    align-items: center;
}
#coverimage{
    float: right; 
    height: 400px;
    width: 550px;
    margin-top: 20%

}
.content > h1{
    font-weight: 500;
    font-size: 36px;
    margin-top: 100px;
    margin-top: 20%;
    padding-left: 10%;
    padding-top: 10%;
    margin-left: 5%;
    justify-content: flex-start;
    

}
.content > p{
padding-left: 5%;
padding-top: 12px;
font-weight: 300;
font-size: 25px;
} 
.Numbers{
    clear: left;
    float: right;
    border: 1px solid rgb(241, 227, 227);
    background: white;
    margin-right: 10%;
    padding-bottom: 8%;
    align-items: center;
    justify-content: center;
    list-style: none;
    

}
 .data{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 16px;
    cursor: pointer;
    align-items: center;

 }
 .Ourstats{
    align-items: center;
    justify-content: center;
    padding-top: 10%;
 }
 .data::after{
    box-shadow: 2px 2px rgb(177, 170, 170);
 }
 .data ul li{
     list-style: none;
     display: inline-block;
     padding: 8px 12px;
 }
 .content > h1{
    font-weight: 600;
    font-size: 40px;
    margin: auto;
    padding-left: 18%;
    padding-top: 20%;
}

.content > p{
margin: auto;
padding-left: 18%;
padding-top: 12px;
font-weight: 300;
font-size: 25px;
} 
.homebutton{
display: inline-block;
text-decoration: none;
color:black;
border:2px solid #0b46e6;
background: #0b46e6;
font-size: 22px;
margin-top: 30px;
margin-left: 18%;
padding: 15px 40px;
position: relative;
cursor: pointer;
}
.homebutton:hover{
border: 1px solid #25dd0d;
background: red;
transition: 1s;
}
section{
    display: flex;
    padding-top: 10%;
    /* align-items: center; */
    margin-left: 15%;
}
